
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-image: url("sp.png"); */
  background-size: 100%;
  background-color: #908e8e;
}

.container {
  
  padding: 30px;
  border-radius: 12px;
  
  width: 100%;
  max-width: 400px;
  /* background-image: url("sp.png"); */
  background-color: #ffffff;
 background: transparent;
 border: 1px solid black;
 box-shadow: 0px 0px 8px rgb(0, 0, 0);
}

h2 {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

input:focus, textarea:focus {
  border-color: #007bff;
  outline: none;
}

button {
  width: 100%;
  background: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

#successMsg {
  color: rgb(34, 213, 34);
  text-align: center;
  margin-top: 10px;
}
button:hover {
  width: 100%;
  background: #908e8e;
  color: rgb(0, 0, 0);
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
.shani{
  text-align: center;
  background-color: #c8c9c7;
  color: black;
  /* border: none; */
}
.shani::placeholder{
  color: black;
}